################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/Plex.Security.Headers.AspNetCore/bin
/Plex.Security.Headers.AspNetCore/obj

