################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/Plex.Extensions.AspNetCore/bin
/Plex.Extensions.AspNetCore/obj

